/* Medium view */
@media only screen and (min-width: 768px) {
    .join-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #membershipLink {
        color: white;
    }
    main {
        background-color: #54595F;
    }
}
