/* Medium view */
@media only screen and (min-width: 768px) {
    .join-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #membershipLink {
        color: white;
    }
    main {
        background-color: #54595F;
    }
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#left-footer, #right-footer {
    flex: 1;
}

.footer-icons {
    display: flex;
    gap: 15px;
    align-items: center;
}
